.header {
  position: relative;
  padding: 40px 0 44px;

  background-color: $headerBackgroundColor;

  background-image: url('../images/bgi-home-mob-1x.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/bgi-home-mob-2x.png.png');
  }

  @media screen and (min-width: $tablet) {
    background-image: url('../images/bgi-home-tablet-1x.png');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/bgi-home-tablet-2x.png');
    }
  }

  @media screen and (min-width: $desktop) {
    margin-right: auto;
    margin-left: auto;

    background-image: url('../images/bgi-home-desktop-1x.png');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/bgi-home-desktop-2x.png');
    }
  }
}

.utils {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
}
